# ------------------
# '##' = Title
# '# xxxxx' = Introduction / Description
# '#xxxxxx' = Uncomment the commented-out environment variables as needed.
# ------------------

## --- APP SETTINGS ---
APP_NAME="Pdnode CP Website"
APP_URL="https://api.pdnode.com"

## --- PROXY SETTINGS ---
# Multiple headers are separated by commas. For example, "X-Forwarded-For,CF-Connecting-IP"

# Uncomment if you use proxy 
#TRUSTED_PROXY_HEADERS="CF-Connecting-IP"

# Set to `true` if a proxy layer is used and you are certain that the leftmost IP is the actual client IP.
# Uncomment if you use proxy 
#USE_LEFT_MOST_IP=false

## --- SECURITY & RATE LIMITS ---
ENABLE_RATE_LIMITS=true
ENABLE_BATCH_API=true

## --- MAIL SETTINGS (SMTP) ---
SENDER_NAME="Pdnode Support"
SENDER_ADDRESS="noreply@pdnode.com"

# Uncomment if you use SMTP
#SMTP_HOST="smtp.gmail.com"
#SMTP_PORT=587
# Optional: "PLAIN" or "LOGIN"
#SMTP_AUTH_METHOD="PLAIN" 
#SMTP_PASSWORD="your-app-password"
#ENABLE_SMTP_TLS=true
# Optional: Defaults to local hostname
#SMTP_LOCALNAME=""

## --- STORAGE SETTINGS (S3) ---
# Swt to true to enable S3 storage
ENABLE_S3=false
S3_REGION="auto"
S3_BUCKET="pdnode-assets"
S3_ENDPOINT="https://your-id.r2.cloudflarestorage.com"
S3_ACCESS_KEY="your-access-key"
S3_SECRET_KEY="your-secret-key"
# If you are using MinIO or a specific S3-compatible service, you may need to set this to `true`.
S3_FORCE_PATH_STYLE=false

## --- BACKUP SETTINGS ---
# A Cron expression, for example "0 0 * * *" (every day at midnight).
# If left blank or comment out, automatic backups will not be performed.
# # Uncomment if you need. 
#BACKUP_CRON="0 0 * * *"
# Number of Backup Files to Retain
BACKUP_CRON_MAX_KEEP=7

# Backup Storage to S3
# Set to true to enable S3 storage
BACKUP_ENABLE_S3=false
BACKUP_S3_REGION="auto"
BACKUP_S3_BUCKET="pdnode-backups"
BACKUP_S3_ENDPOINT="https://your-id.r2.cloudflarestorage.com"
BACKUP_S3_ACCESS_KEY="your-backup-key"
BACKUP_S3_SECRET_KEY="your-backup-secret"
BACKUP_S3_FORCE_PATH_STYLE=false