# PocketBase
pb_data/
pb_public/

# Go binaries & tests
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment variables
.env
.env.*
!.env.example
!.env.test

# OS & Editor
.DS_Store
Thumbs.db